@* Vị trí file: Views/Employees/Index.cshtml *@
@model IEnumerable<DemoMvc.Models.Employee>

@{
    ViewData["Title"] = "Danh sách Nhân viên";
}

<h1>Danh sách Nhân viên</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Thêm mới Nhân viên</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>